rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
    match /applicants/{document} {
    allow read: if false;
allow update: if false;
allow delete: if false;
allow create: if isValid();

}
}

function isValid(){
return request.resource.data.name1 is string
&& request.resource.data.name2 is string
&& request.resource.data.name3 is string
&& request.resource.data.email1 is string
&& request.resource.data.email2 is string
&& request.resource.data.email3 is string
&& request.resource.data.college1 is string
&& request.resource.data.college2 is string
&& request.resource.data.college3 is string
&& request.resource.data.number1 is string
&& request.resource.data.number2 is string
&& request.resource.data.number3 is string
&& request.resource.data.timestamp is number
&& request.resource.data.uniqueid is string
&& request.resource.data.track is string
&& request.resource.data.teamname is string


&& request.resource.data.keys().hasOnly(['uniqueid','teamname','track','name1','name2','name3','college1','college2','college3','email1','email2','email3','timestamp','number1','number2','number3']);
}
}
