<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data" action="/fileupload" class="contactForm">
      <input type="file" name="filename" />
      <input type="file" name="filename2" />
      <input type="file" name="filename3" />
      <input type="submit" value="upload" />
    </form>
  </body>
</html>
